@charset "UTF-8";

/* Estilos para impressão */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}

menu {
    display: none;
}

hr {
    display: none;
}

main::after {
    content: 'Esse conteúdo pertence ao site conteúdos.com.br';
}
