@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

header {
    padding: 15px;
    background-color: rgb(47, 113, 212);
    color: rgb(241, 241, 241);
    text-align: center;
}

h1 {
    padding-bottom: 20px;
    font-variant: small-caps;
    font-size: 2.5em;
}

hr {
    width: 63.6vw;
    margin: -10px auto 20px auto;
    border: 2px solid white;
}

li {
    display: inline-block;
    padding: 10px;
    width: 20vw;
    background-color:rgb(18, 74, 158);
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.425);
}

a {
    color: white;
    text-decoration: none;
}

li:hover {
    background-color: rgb(20, 56, 133);
    transition: 0.5s;
}

h2 {
    padding-bottom: 20px;
    text-align: center;
}

article {
    padding: 40px;
    width: 600px;
    margin: 20px auto auto auto;
    text-align: justify;
    background-color: rgb(221, 221, 221);
    border: 1px solid rgba(0, 0, 0, 0.527);
}