@charset "UTF-8";

/* Typical Device Breakpoints 
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {

    i#menu {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        border: 2px solid black;
        margin: auto;
    }

    li#ult {
    border-bottom: 2px solid black;
    }

    li#prim {
    border-top: 2px solid black;
    }

    main > article {
        width: 768px;
    }

}