@charset "UTF-8";

/* > Mobile First < */

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    background-color: rgb(156, 179, 255);
}

header {
    background-color: rgb(36, 36, 160);
}

header > h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

menu > ul > li {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-top: 2px solid rgb(0, 0, 0);
}

li#ult {
    border-bottom: 2px solid black;
}

li#prim {
    border-top: 0px solid black;
}

i#menu {
    background-color: white;
    padding: 5px;
    display: block;
    text-align: center;
    cursor: pointer;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

i#menu:hover {
    background-color: rgb(216, 216, 216);
}

menu {
    display: none;
}

menu > ul > li > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

menu > ul > li:hover {
    text-decoration: none;
    background-color: rgb(192, 212, 255);
    font-weight: 400;
    transition: 0.5s;
}

main > article {
    width: 65vw;
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    margin: 30px auto;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.61);
}

h2 {
    text-align: center;
}

main > article > p {
    text-align: justify;
    padding-top: 10px;
}


