@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

header {
    position: relative;
    background-color: black;
    width: 100%;
    height: 200px;
}

#titulo {
    width: 500px;
    font-size: 2em;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#titulo p {
    font-size: .5em;
    text-align: center;
}

#link {
    text-decoration: none;
    color: white;
}

#link:hover {
    text-decoration: underline;
    color: white;
}

section {
    width: 98vh;
    height: 200px;
    background-color: white;
    position: relative;
}

.normal {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 5%;
    top: 10%;
    text-align: justify;
}

.especial {
    position: absolute;
    width: 200px;
    height: 300px;
    left: 5%;
    top: 5%;
    color: white;
    text-align: justify;
}

.dois {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 5%;
    top: 10%;
    text-align: justify;
}

#fundo1 {
    background-image: url(imagens/background001.jpg);
    width: 100%;
    background-position: center center;
}

#fundo2 {
    background-image: url(imagens/background002.jpg);
    width: 100%;
    background-position: center center;
}



footer {
    padding: 3px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
}




